# Pandas Essential Training

The following cells has the year for the first olympics.

In [1]:
year = 1896
year + 4

1900

## Using pandas

In [6]:
!pip install pandas==2.0.2 "numpy>=1.21.0,<2.0.0"

Requirement already satisfied: pandas==2.0.2 in /usr/local/lib/python3.11/dist-packages (2.0.2)
Collecting numpy<2.0.0,>=1.21.0
  Downloading numpy-1.26.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.0/61.0 kB 2.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas==2.0.2) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas==2.0.2) (2025.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.11/dist-packages (from pandas==2.0.2) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas==2.0.2) (1.17.0)
Downloading numpy-1.26.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.3/18.3 MB 67.1 MB/s eta 0:00:00
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 2.0.2
    Uninstalling numpy-2.0.2:
      Successfully uninstalled numpy-2.0.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 2.0.2 which is incompatible.
xarray 2025.3.1 requires pandas>=2.1, but you have pandas 2.0.2 which is incompatible.
thinc 8.3.6 requires numpy<3.0.0,>=2.0.0, but you have numpy 1.26.4 which is incompatible.
plotnine 0.14.5 requires pandas>=2.2.0, but you have pandas 2.0.2 which is incompatible.
mizani 0.13.5 requires pandas>=2.2.0, but you have pandas 2.0.2 which is incompatible.
Successfully installed numpy-1.26.4

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

In [1]:
import pandas as pd

In [3]:
pd.__version__

'2.0.2'

In [9]:
dir(pd)
# display a list of all attributes and methods available within the pandas module

In [8]:
help(pd.read_csv)

In [ ]:
pd.read_csv?

Object `pd.read_csv` not found.

Pandas documentation: https://pandas.pydata.org/docs/reference/index.html

## Reading tabular data into pandas

In [11]:
!wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

--2025-06-14 17:02:13--  https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/jonfernandes/pandas_essential/main/olympics_1896_2004.csv [following]
--2025-06-14 17:02:13--  https://raw.githubusercontent.com/jonfernandes/pandas_essential/main/olympics_1896_2004.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2398388 (2.3M) [text/plain]
Saving to: ‘olympics_1896_2004.csv’

olympics_1896_2004. 100%[===================>]   2.29M  --.-KB/s    in 0.07s

2025-06-14 17:02:14 (34.1 MB/s) - ‘olympics_1896_2004.csv’ saved [2398388/2398388]

In [ ]:
#from google.colab import files
#files.upload()

In [12]:
!ls -la

total 2360
drwxr-xr-x 1 root root    4096 Jun 14 17:02 .
drwxr-xr-x 1 root root    4096 Jun 14 16:57 ..
drwxr-xr-x 4 root root    4096 Jun 12 13:35 .config
-rw-r--r-- 1 root root 2398388 Jun 14 17:02 olympics_1896_2004.csv
drwxr-xr-x 1 root root    4096 Jun 12 13:36 sample_data

In [18]:
pd.read_csv?

In [13]:
pd.read_csv('olympics_1896_2004.csv')

,"This is a list of medallists at the Summer Olympic Games (1896-2004) with details of the year of the olympics, city, sport, discipline, athlete name, gender, event and medal",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"DISCLAIMER: No guarantees, express or implied,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
...,...,...,...,...,...,...,...,...,...,...,...
27174,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27175,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27176,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27177,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27178,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

In [14]:
pd.read_csv(filepath_or_buffer='olympics_1896_2004.csv')

,"This is a list of medallists at the Summer Olympic Games (1896-2004) with details of the year of the olympics, city, sport, discipline, athlete name, gender, event and medal",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"DISCLAIMER: No guarantees, express or implied,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
...,...,...,...,...,...,...,...,...,...,...,...
27174,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27175,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27176,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27177,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27178,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

In [15]:
oo = pd.read_csv('olympics_1896_2004.csv')
oo

,"This is a list of medallists at the Summer Olympic Games (1896-2004) with details of the year of the olympics, city, sport, discipline, athlete name, gender, event and medal",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"DISCLAIMER: No guarantees, express or implied,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
...,...,...,...,...,...,...,...,...,...,...,...
27174,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27175,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27176,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27177,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27178,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

In [16]:
oo = pd.read_csv('olympics_1896_2004.csv', skiprows=5)
oo

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
...,...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

In [ ]:
filename = "olympics_1896_2004.csv"

In [ ]:
#from google.colab import files
#files.upload()

## Get an overview of the data and displaying it

In [19]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

Installed all of the necessary files for this section ...

In [20]:
oo = pd.read_csv(filename, skiprows=5)
oo

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
...,...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

In [24]:
oo.shape

(27174, 11)

In [ ]:
oo.shape?

In [ ]:
oo.head()

In [ ]:
oo.head?

In [ ]:
oo.head(3)

In [ ]:
oo.tail()

In [ ]:
oo.sample(5)

In [ ]:
oo.sample?

In [21]:
oo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27174 entries, 0 to 27173
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27174 non-null  int64
 1   City          27174 non-null  object
 2   Sport         27174 non-null  object
 3   Discipline    27174 non-null  object
 4   Athlete Name  27174 non-null  object
 5   NOC           27174 non-null  object
 6   Gender        27174 non-null  object
 7   Event         27174 non-null  object
 8   Event Gender  27174 non-null  object
 9   Medal         27174 non-null  object
 10  Position      27174 non-null  int64
dtypes: int64(2), object(9)
memory usage: 2.3+ MB

In [22]:
oo.describe()

               Year      Position
count  27174.000000  27174.000000
mean    1964.685803      1.992566
std       31.590396      0.817469
min     1896.000000      1.000000
25%     1936.000000      1.000000
50%     1972.000000      2.000000
75%     1992.000000      3.000000
max     2004.000000      3.000000

In [23]:
pd.get_option("display.max_rows")

60

In [26]:
pd.set_option("display.max_rows", 10)
oo

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
...,...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

In [ ]:
pd.get_option("display.max_columns")

In [ ]:
pd.get_option("display.width")

In [ ]:
pd.set_option("display.width", 100)

## Select a Series (column)

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [27]:
oo = pd.read_csv(filename, skiprows=5)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
24799,2000,Sydney,Softball,Softball,"TITCUME, Natalie",AUS,Women,softball,W,Bronze,3
21443,1996,Atlanta,Aquatics,Swimming,"KOWALSKI, Daniel",AUS,Men,200m freestyle,M,Bronze,3
1095,1904,St Louis,Archery,Archery,"HUBBARD, Charles R.",USA,Men,team round 60y,M,Silver,2

In [28]:
type(oo)

pandas.core.frame.DataFrame

In [29]:
oo["Discipline"]

0        Cycling Track
1        Cycling Track
2            Athletics
3            Athletics
4            Athletics
             ...
27169          Fencing
27170          Fencing
27171          Fencing
27172          Fencing
27173          Fencing
Name: Discipline, Length: 27174, dtype: object

In [ ]:
oo['Discipline']

In [ ]:
#oo["discipline"]
# lowecase != uppercase

In [30]:
type(oo["Discipline"])

pandas.core.series.Series

In [31]:
oo.Discipline

0        Cycling Track
1        Cycling Track
2            Athletics
3            Athletics
4            Athletics
             ...
27169          Fencing
27170          Fencing
27171          Fencing
27172          Fencing
27173          Fencing
Name: Discipline, Length: 27174, dtype: object

In [32]:
oo.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal', 'Position'],
      dtype='object')

In [ ]:
oo["Athlete Name"]

In [ ]:
#oo.Athlete Name

In [ ]:
oo.sample(3)

In [ ]:
oo.Year.unique()

In [ ]:
oo.Year.unique?

In [ ]:
oo.Sport.unique()

In [ ]:
oo.sample(3)

In [ ]:
oo.Year.value_counts()

In [ ]:
oo.Year.value_counts?

In [33]:
oo.Year.value_counts(normalize=True)

Year
2000    0.074152
2004    0.073526
1996    0.068411
1992    0.062744
1988    0.056893
          ...
1928    0.026128
1932    0.022632
1900    0.018842
1904    0.017296
1896    0.005557
Name: proportion, Length: 25, dtype: float64

## Challenge

Answer the following questions. Indicate the Pandas command where relevant.

1.   What is the time range covered in this dataset?
2.   The Olympics take place every 4 years. Why are there missing years?
3.   What are the types of medals awarded?
4.   Across all of the Olympic Games, how many Gold, Silver and Bronze medals have there been?
5.   Why are there not an equal number of Gold, Silver and Bronze medals?
6.   There are more Gold medals than Silver, and more Silver than Bronze. Why might that be?
7.   What are the different NOCs (National Olympic Committees)
8.   What does the NOC 'ZZX' represent?

##Solution

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

1. What is the time range covered in this dataset?

In [34]:
oo.Year.unique()

array([1896, 1900, 1904, 1908, 1912, 1920, 1924, 1928, 1932, 1936, 1948,
       1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992,
       1996, 2000, 2004])

2. The Olympics take place every 4 years. Why are there missing years?
- World War 1: 1914-1918
- World War 2: 1939-1945

3. What are the types of medals awarded?

In [35]:
oo.Medal.unique()

array(['Gold', 'Silver', 'Bronze'], dtype=object)

4. Across all of the Olympics, how many Gold, Silver and Bronze medals have there been?

In [36]:
oo.Medal.value_counts()

Medal
Gold      9181
Silver    9014
Bronze    8979
Name: count, dtype: int64

5. Why are there not an equal number of Gold, Silver and Bronze medals?
- Tied results
- Team events
- Disqualifications

In [ ]:
oo.head(10)

6. There are more Gold medals than Silver, and more Silver than Bronze. Why might that be?

Men's 100km cycling
- https://en.wikipedia.org/wiki/Cycling_at_the_1896_Summer_Olympics_%E2%80%93_Men%27s_100_kilometres
- https://en.wikipedia.org/wiki/Aristidis_Konstantinidis

Men's 100m freestyle (1896)
- https://en.wikipedia.org/wiki/Swimming_at_the_1896_Summer_Olympics_%E2%80%93_Men%27s_100_metre_freestyle

7. What are the different NOCs (National Olympic Committees)

In [ ]:
oo.NOC.unique()

8. What does the NOC 'ZZX' represent?
- https://en.wikipedia.org/wiki/Mixed_teams_at_the_Olympics

## Python Lists and Dictionaries

In [ ]:
medals = ["Gold", "Silver", "Bronze"]
medals

In [ ]:
type(medals)

In [ ]:
position = {"First": "Gold",
            "Second": "Silver",
            "Third": "Bronze"
}
position

In [ ]:
type(position)

In [ ]:
position["First"]

## Rename a series (or column)

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [37]:
oo = pd.read_csv(filename, skiprows=5)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
13002,1972,Munich,Athletics,Athletics,"MANNING-JACKSON, Madeline",USA,Women,4x400m relay,W,Silver,2
9757,1956,Melbourne / Stockholm,Aquatics,Water polo,"JENEI, Laszlo",HUN,Men,water polo,M,Gold,1
13776,1972,Munich,Gymnastics,Artistic G.,"JANZ, Karin",GDR,Women,vault,W,Gold,1

In [39]:
mapper = {"Athlete Name": "Athlete_Name",
          "Event Gender": "Event_Gender"}

In [ ]:
oo.rename?

In [40]:
oo.rename(columns=mapper)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
...,...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

In [ ]:
oo.sample(3)

In [ ]:
oo = oo.rename(columns=mapper)
oo.sample(3)

In [41]:
oo = pd.read_csv(filename, skiprows=5).rename(columns=mapper)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
23871,2000,Sydney,Cycling,Cycling Track,"ROUSSEAU, Florian",FRA,Men,Olympic Sprint,M,Gold,1
4655,1924,Paris,Rowing,Rowing,"MACNABB, James",GBR,Men,four without coxswain (4-),M,Gold,1
19833,1992,Barcelona,Aquatics,Swimming,"BIONDI, Matthew",USA,Men,4x100m freestyle relay,M,Gold,1

In [42]:
oo = pd.read_csv(filename, skiprows=5)
oo = oo.rename(columns={"Athlete Name": "Athlete_Name", "Event Gender": "Event_Gender"})
oo.sample(3)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
2946,1920,Antwerp,Athletics,Athletics,"SHIELDS, Marion Lawrence",USA,Men,1500m,M,Bronze,3
23946,2000,Sydney,Baseball,Baseball,"RAUCH, Jon",USA,Men,baseball,M,Gold,1
8599,1952,Helsinki,Hockey,Hockey,"EAGAN, Dennis Michael Royal",GBR,Men,hockey,M,Bronze,3

In [44]:
oo = pd.read_csv(filename, skiprows=5)
oo.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal', 'Position'],
      dtype='object')

In [47]:
column_names = ['Year', 'City', 'Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender',
       'Event', 'Event_Gender', 'Medal', 'Position']
oo.columns = column_names
oo.sample(3)

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
4446,1924,Paris,Modern Pentathlon,Modern Pentath.,"DYRSSEN, Gustaf",SWE,Men,Individual competition,M,Silver,2
22603,1996,Atlanta,Hockey,Hockey,"PLESMAN, Suzanne",NED,Women,hockey,W,Bronze,3
5340,1928,Amsterdam,Fencing,Fencing,"PIGNOTTI, Ugo",ITA,Men,foil team,M,Gold,1

In [45]:
oo = pd.read_csv(filename, skiprows=5)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
4103,1920,Antwerp,Fencing,Fencing,"BOZZA, Tullio",ITA,Men,épée team,M,Gold,1
15029,1976,Montreal,Gymnastics,Artistic G.,"MARCHENKO, Vladimir",URS,Men,team competition,M,Silver,2
13311,1972,Munich,Rowing,Rowing,"HOBBS, William Barton Rogers",USA,Men,eight with coxswain (8+),M,Silver,2

In [48]:
oo = pd.read_csv(filename, skiprows=5, names=column_names)
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
1,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
2,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
3,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3

In [49]:
oo = pd.read_csv(filename, skiprows=5, names=column_names, header=0)
oo.head()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

## Remove a Series (column) or row

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [91]:
oo = pd.read_csv(filename, skiprows=5)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
19953,1992,Barcelona,Athletics,Athletics,"JOHNSON, Michael",USA,Men,4x400m relay,M,Gold,1
14911,1976,Montreal,Gymnastics,Artistic G.,"ANDRIANOV, Nikolay",URS,Men,pommel horse,M,Bronze,3
15126,1976,Montreal,Volleyball,Volleyball,"MA, Kum-Ja",KOR,Women,volleyball,W,Bronze,3

In [92]:
oo.drop('Position', axis=1)
# axis = 0 refers to row
# axis = 1 refers to column

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver

In [ ]:
#oo.drop('Position', axis=0)

In [93]:
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
15477,1980,Moscow,Athletics,Athletics,"KOCH, Marita",GDR,Women,4x400m relay,W,Silver,2
23788,2000,Sydney,Triathlon,Triathlon,"VUCKOVIC, Stephan",GER,Men,Individual,M,Silver,2
26996,2004,Athens,Gymnastics,Artistic G.,"HATCH, Annia",USA,Women,vault,W,Silver,2

In [94]:
oo = oo.drop('Position', axis=1)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
11725,1968,Mexico,Aquatics,Swimming,"PANKIN, Nikolai",URS,Men,100m breaststroke,M,Bronze
23018,1996,Atlanta,Gymnastics,Artistic G.,"BI, Wenjiing",CHN,Women,uneven bars,W,Silver
9103,1956,Melbourne / Stockholm,Athletics,Athletics,"LJUNGGREN, John Artur",SWE,Men,50km walk,M,Bronze

In [95]:
oo = pd.read_csv(filename, skiprows=5).drop('Position', axis=1)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
2141,1912,Stockholm,Athletics,Athletics,"HENLEY, Ernest John",GBR,Men,4x400m relay,M,Bronze
21941,1996,Atlanta,Canoe / Kayak,Canoe / Kayak F,"ANDERSSON, Agneta",SWE,Women,K-4 500m (kayak four),W,Bronze
11523,1964,Tokyo,Gymnastics,Artistic G.,"POSNEROVA-KUBICKOVA, Jana",TCH,Women,team competition,W,Silver

In [96]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
6701,1936,Berlin,Rowing,Rowing,"BERESFORD, Jack",GBR,Men,double sculls (2x),M,Gold
3197,1920,Antwerp,Shooting,Shooting,"SPOONER, Lloyd Spencer",USA,Men,"600m free rifle, prone",M,Bronze
15292,1980,Moscow,Athletics,Athletics,"STRAUB, Jürgen",GDR,Men,1500m,M,Silver

In [97]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
8304,1952,Helsinki,Boxing,Boxing,"LEE, Norvel Lafayette Ray",USA,Men,75 - 81kg (light-heavyweight),M,Gold
9042,1956,Melbourne / Stockholm,Athletics,Athletics,"FÜTTERER, Heinz",EUA,Men,4x100m relay,M,Bronze
3047,1920,Antwerp,Sailing,Sailing,"BENGTSSON, Gösta",SWE,Men,30m sq,X,Gold

In [98]:
oo = pd.read_csv(filename, skiprows=5)
oo.drop('Position', axis=1, inplace=True)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
1448,1908,London,Tennis,Tennis,"BARRETT, Herbert Roper",GBR,Men,doubles indoor,M,Gold
23285,2000,Sydney,Athletics,Athletics,"MCDONALD, Beverly",JAM,Women,200m,W,Bronze
15929,1980,Moscow,Football,Football,"CHERENKOV, Fiodor",URS,Men,football,M,Bronze

In [ ]:
#oo = (pd.read_csv(filename, skiprows=5)
#      .drop('Position', axis=1, inplace=True)
#)
#oo.sample(3)

In [99]:
oo.drop?

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
oo.head(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop(2, axis=0)
)
oo.head(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop([0, 1, 3], axis=0)
)
oo.head(3)

In [ ]:
oo = oo.drop(['City', 'Sport'], axis=1)
oo.head(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
pd.merge?

In [ ]:
pd.concat?

In [ ]:
oo.groupby?

## Filtering rows for a single condition

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [100]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
4842,1924,Paris,Rugby,Rugby,"LUBIN-LEBRÈRE, Marcel-Frédéric",FRA,Men,rugby,M,Silver
118,1896,Athens,Gymnastics,Artistic G.,"HILMAR, Georg",GER,Men,"team, horizontal bar",M,Gold
985,1904,St Louis,Lacrosse,Lacrosse,"FLETT, Jack",CAN,Men,lacrosse,M,Gold

In [101]:
type(True)

bool

In [102]:
type(False)

bool

In [103]:
oo.Year.dtype

dtype('int64')

In [104]:
first_olympics = (oo.Year == 1896)
first_olympics

0         True
1         True
2         True
3         True
4         True
         ...
27169    False
27170    False
27171    False
27172    False
27173    False
Name: Year, Length: 27174, dtype: bool

In [105]:
oo[first_olympics]

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
146,1896,Athens,Athletics,Athletics,"CONNOLLY, James",USA,Men,triple jump,M,Gold
147,1896,Athens,Athletics,Athletics,"TUFFERI, Alexandre",FRA,Men,triple jump,M,Silver
148,1896,Athens,Gymnastics,Artistic G.,"WEINGÄRTNER, Hermann",GER,Men,vault,M,Bronze
149,1896,Athens,Gymnastics,Artistic G.,"SCHUMANN, Carl",GER,Men,vault,M,Gold
150,1896,Athens,Gymnastics,Artistic G.,"ZUTTER, Louis",SUI,Men,vault,M,Silver

In [ ]:
oo[oo.Year == 1896]

In [ ]:
oo[oo.Year < 1896]

In [ ]:
oo[(oo.Year <= 1896)]

## Filter rows for multiple conditions

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.tail(3)

In [ ]:
oo.dtypes

In [ ]:
oo[oo.City == 'Athens']

In [ ]:
#oo[oo.City == Athens]

In [ ]:
oo[(oo.Year == 1896) | (oo.Year == 2004)]

In [ ]:
oo[(oo.City == 'Athens') & (oo.Year == 2004)]

In [ ]:
oo[(oo.City == 'Athens') & ~(oo.Year == 1896)]

In [ ]:
first_men_100m = oo[(oo.Year == 1896) & (oo.Gender == 'Men') & (oo.Event == '100m')]
first_men_100m

In [ ]:
oo[(oo.Year == 1896) & (oo.Gender == 'Men') & (oo.Event == '100m')][["Year", "Athlete Name", "NOC", "Event", "Medal"]]

In [ ]:
first_men_100m[["Year", "Athlete Name", "NOC", "Event", "Medal"]]

## Using String methods

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.head(3)

In [106]:
oo["Athlete Name"].str.lower()

0             flameng, léon
1        kolettis, georgios
2             lane, francis
3          szokolyi, alajos
4             burke, thomas
                ...
27169    logounova, tatiana
27170         sivkova, anna
27171        bokel, claudia
27172       duplitzer, imke
27173     heidemann, britta
Name: Athlete Name, Length: 27174, dtype: object

In [108]:
oo.Event.unique()

In [109]:
oo.Event.str.capitalize()

0            100km
1            100km
2             100m
3             100m
4             100m
           ...
27169    Épée team
27170    Épée team
27171    Épée team
27172    Épée team
27173    Épée team
Name: Event, Length: 27174, dtype: object

In [110]:
oo.Event = oo.Event.str.capitalize()
oo.Event.unique()

array(['100km', '100m', '100m freestyle', '100m freestyle for sailors',
       '10km', '110m hurdles', '12-hour race', '1200m freestyle', '1500m',
       '1km time trial', '25m army pistol',
       '25m rapid fire pistol (60 shots)', '400m', '400m freestyle',
       '50m pistol (60 shots)', '800m', 'Sprint indivual',
       'Army rifle, 200m', 'Army rifle, 300m', 'Discus throw', 'Doubles',
       'Foil individual', 'Foil, masters', 'Heavyweight - one hand lift',
       'Heavyweight - two hand lift', 'High jump', 'Horizontal bar',
       'Individual road race', 'Long jump', 'Marathon', 'Open event',
       'Parallel bars', 'Pole vault', 'Pommel horse', 'Rings',
       'Rope climbing', 'Sabre individual', 'Shot put', 'Singles',
       'Team, horizontal bar', 'Team, parallel bars', 'Triple jump',
       'Vault', '0.5-1t', '10-20t', '1500m freestyle', '200m',
       '200m backstroke', '200m freestyle', '200m hurdles',
       '200m obstacle event', '200m team swimming', '25 kilometres',
       '3-10t', '3000m steeplechase', '4000m freestyle',
       '4000m steeplechase', '400m hurdles', '5000m team',
       '50m army pistol, team', '60m', 'Army rifle, 300m, 3 positions',
       'Army rifle, 300m, kneeling', 'Army rifle, 300m, prone',
       'Army rifle, 300m, standing', 'Au chapelet, 33m',
       'Au chapelet, 50m', 'Au cordon doré, 33m', 'Au cordon doré, 50m',
       'Cesta punta', 'Cricket', 'Double', 'Eight with coxswain (8+)',
       'Football', 'Four-oared shell with coxswain (4-)',
       'Free rifle, team', 'Hammer throw', 'High jump, standing',
       'Individual', 'Individual 1 ball', 'Individual 2 balls',
       'Individual all-round', 'Long jump individual',
       'Long jump, standing', 'Mixed doubles', 'Open class',
       'Pair-oared shell with coxswain (2+)', 'Polo', 'Rugby',
       'Sabre, masters', 'Single sculls (1x)', 'Sur la perche à la herse',
       'Sur la perche à la pyramide', 'Trap (125 targets)',
       'Triple jump, standing', 'Tug of war', 'Underwater swimming',
       'Water polo', 'Épée individual', 'Épée, amateurs and masters',
       'Épée, masters', '+ 71.67kg (heavyweight)',
       '- 47.63kg (flyweight)', '- 47.6kg (light-flyweight)',
       '1 mile (1609.3m)', '1/2 mile (804.7m)', '1/3 mile (536.5m)',
       '1/4 mile (402.3m)', '100m backstroke', '10m platform',
       '2 miles (3.218km)', '25 miles (40.232km)', '400m breaststroke',
       '47.6 - 52.16kg (flyweight)', '47.63 - 52.16kg (bantamweight)',
       '4miles team', '4x50y freestyle relay', '5 miles (8.046km)',
       '50y freestyle (45.72m)', '52.16 - 56.7kg (bantamweight)',
       '52.16 - 56.7kg (featherweight)', '56.7 - 61.23kg (featherweight)',
       '56.7 - 61.24kg (lightweight)', '56lb weight throw (25.4kg)',
       '61.23 - 65.77kg (lightweight)', '61.24 - 65.77kg (welterweight)',
       '65.77 - 71.67kg (middleweight)', '65.77 - 71.67kg (welterweight)',
       '880y freestyle (804.66m)', 'All-around dumbbell contest',
       'Club swinging', 'Combined 3 events', 'Combined 4 events',
       'Coxless pair (2-)', 'Decathlon',
       'Double american round (60y - 50y - 40y)',
       'Double columbia round (50y - 40y - 30y)',
       'Double national round (60y - 50y)', 'Double sculls (2x)',
       'Double york round (100y - 80y - 60y)', 'Foil team',
       'Four without coxswain (4-)', 'Lacrosse', 'Plunge for distance',
       'Stick, single', 'Team', 'Team competition', 'Team round 60y',
       'Teams fita round', 'Triathlon (long jump / shot put / 100 yards)',
       '+ 73kg (heavyweight)', '+ 93kg (super heavyweight)',
       '- 52.62kg (bantamweight)', '- 54kg (bantamweight)',
       '- 66.6kg (lightweight)', '1000y free rifle, prone',
       '100m running deer, double shots',
       '100m running deer, single shots',
       '100m running deer, single shots, team', '10miles walk (16093m)',
       '12m', '1980 yards pursuit, team', '2000m tandem',
       '200m breaststroke', '20km',
       '25y small bore rifle, disappearing target',
       '25y small bore rifle, moving target',
       '300m free rifle 3 positions (3x40 shots)', '3200m steeplechase',
       '3500m walk', '3m springboard', '3miles team (4828m)',
       '4x200m freestyle relay', '4x400m relay', '5 miles (8047m)',
       '50+100y small bore rifle, team', '5000m',
       '50m rifle prone (60 shots)', '50y army pistol, team',
       '52.62 - 57.15kg (featherweight)', '54 - 60.3kg (featherweight)',
       '57.15 - 63.5kg (lightweight)', '60.3 - 66.6kg (lightweight)',
       '63.5 - 71.67kg (middleweight)', '66.6 - 73kg (middleweight)',
       '6m', '73 - 93kg (light-heavyweight)', '7m', '8m', '8m class c',
       'One lap (660y) sprint', 'Class b up to 60 feet',
       'Clay pigeons, team', 'Continental style 50m',
       'Discus throw ancient style', 'Doubles indoor', 'Hockey',
       'Javelin throw', 'Javelin throw freestyle',
       'National round (60y - 50y)', 'Open class a', 'Pairs',
       'Rifle, team', 'Sabre team', 'Singles indoor', 'Special figures',
       'York round (100y - 80y - 60y)', 'Épée team',
       '+ 82.5kg (super heavyweight)', '- 60kg (featherweight)', '10000m',
       '10000m walk', '10m', '25m small bore rifle, team',
       '25m small rifle', '3000m team', '30m army pistol, team',
       '4x100m freestyle relay', '4x100m relay',
       '50m small bore rifle, team', '60 - 67.5kg (lightweight)',
       '600m free rifle', '67.5 - 75kg (middleweight)',
       '75 - 82.5kg (light-heavyweight)', 'Individual competition',
       'Coxed fours jugriggers', 'Cross country individual',
       'Cross country team', 'Discus throw, both hands',
       'Individual time trial', 'Javelin throw, both hands',
       'Mixed doubles indoor', 'Pentathlon', 'Plain high diving',
       'Shot put, both hands', 'Team time trial', 'Team, swedish system',
       'Team, free system', '+ 79.38kg (heavyweight)',
       '+ 80kg (heavyweight)',
       '+ 82.5kg, one-two hand 3 events (heavyweight)',
       '+ 82kg (super heavyweight)', '- 50.8kg (flyweight)',
       '- 60kg, one-two hand 3 events (featherweight)',
       '100m running deer, double shots, team', '10m (rating 1907)',
       '10m (rating 1919)', '12 foot dinghy', '12m (rating 1907)',
       '12m (rating 1919)', '18 foot dinghy',
       '300+600m free rifle, team, prone', '3000m walk',
       '300m free rifle, prone, team', '300m free rifle, standing, team',
       '30m sq', '40m sq', '50.8 - 53.52kg (bantamweight)', '50km',
       '50m small bore rifle, standing, individual',
       '53.52 - 57.15kg (featherweight)', '57.15 - 61.24kg (lightweight)',
       '6.5m (rating 1919)',
       '60 - 67.5kg, one-two hand 3 events (lightweight)',
       '600m free rifle, prone', '600m free rifle, team',
       '61.24 - 66.68kg (welterweight)', '66.68 - 72.57kg (middleweight)',
       '67.5 - 75kg, one-two hand 3 events (middleweight)',
       '6m (rating 1907)', '6m (rating 1919)',
       '72.57 - 79.38kg (light-heavyweight)',
       '75 - 80kg (light-heavyweight)',
       '75 - 82.5kg, one-two hand 3 e. (light-heavyweight)',
       '75 - 82kg (light-heavyweight)', '8m (rating 1907)',
       '8m (rating 1919)', 'Team pursuit (4000m)',
       'Figure riding individual', 'Figure riding team',
       'Fixed bird target large birds',
       'Fixed bird target large birds teams',
       'Fixed bird target small bird, teams',
       'Fixed bird target small birds', 'Ice hockey',
       'Moving bird target 28m teams', 'Moving bird target 33m teams',
       'Moving bird target 50m teams', 'Moving bird target, 28m',
       'Moving bird target, 33m', 'Moving bird target, 50m',
       '+ 82.5kg, one-two hand 5 events (heavyweight)',
       '+ 87kg (heavyweight)', '- 56kg (bantamweight)',
       '- 58kg (bantamweight)',
       '- 60kg, one-two hand 5 events (featherweight)',
       '400, 600, 800m free rifle, team', '56 - 61kg (featherweight)',
       '58 - 62kg (featherweight)',
       '60 - 67.5kg, one-two hand 5 events (lightweight)',
       '600m free rifle, individual', '61 - 66kg (lightweight)',
       '62 - 67.5kg (lightweight)', '66 - 72kg (welterweight)',
       '67.5 - 75kg, one-two hand 5 events (middleweight)',
       '72 - 79kg (middleweight)',
       '75 - 82.5kg, one-two hand 5 e. (light-heavyweight)',
       '79 - 87kg (light-heavyweight)', 'Sidehorse vault',
       'Olympic class monotype', '+ 82.5kg, total (heavyweight)',
       '- 60kg, total (featherweight)', '12 foot dinghy individual',
       '1km pursuit', '58 - 60kg (featherweight)',
       '60 - 67.5kg, total (lightweight)',
       '67.5 - 75kg, total (middleweight)',
       '75 - 82.5kg, total (light-heavyweight)',
       '+ 87kg (super heavyweight)', '50.8 - 54kg (bantamweight)',
       '50km walk', '54 - 57.15kg (featherweight)', '80m hurdles',
       'Floor exercises', 'Indian clubs', 'Tumbling',
       'Two-person keelboat open (star)', 'C-1 1000m (canoe single)',
       'C-2 10000m', 'C-2 1000m (canoe double)', 'K-1 10000m',
       'K-1 1000m (kayak single)', 'K-2 10000m',
       'K-2 1000m (kayak double)', 'Basketball', 'Folding k-1 10000m',
       'Folding k-2 10000m', 'Handball', '- 51kg (flyweight)',
       '- 52kg (flyweight)', '- 56kg, total (bantamweight)',
       '51 - 54kg (bantamweight)', '52 - 57kg (bantamweight)',
       '54 - 58kg (featherweight)', '56 - 60kg, total (featherweight)',
       '57 - 61kg (featherweight)', '57 - 63kg (featherweight)',
       '58 - 62kg (lightweight)', '61 - 67kg (lightweight)',
       '62 - 67kg (welterweight)', '63 - 67kg (lightweight)',
       '67 - 73kg (middleweight)', '67 - 73kg (welterweight)',
       '73 - 79kg (middleweight)', '73 - 80kg (light-heavyweight)',
       'C-1 10000m', 'K-1 500m (kayak single)', 'Dragon', 'Firefly class',
       'Swallow (golondrina)', '+ 81kg (heavyweight)',
       '+ 90kg, total (heavyweight)',
       '100m running deer, single/double shots', '5.5m',
       '50m rifle 3 positions (3x40 shots)', '54 - 57kg (featherweight)',
       '57 - 60kg (lightweight)', '60 - 63.5kg (light-welterweight)',
       '63.5 - 67kg (welterweight)', '67 - 71kg (light-middleweight)',
       '71-75kg', '75 - 81kg (light-heavyweight)',
       '82.5 - 90kg, total (middle-heavyweight)', 'Balance beam',
       'Single-handed dinghy (finn)', 'Team, portable apparatus',
       'Uneven bars', '100m butterfly', '200m butterfly', '20km walk',
       'Sharpie 12m2', '4x100m medley relay', 'K-1 4x500m',
       'K-2 500m (kayak double)', 'Flying dutchman',
       '+ 97kg (heavyweight)', '+ 97kg (super heavyweight)',
       '- 68kg (lightweight)', '400m individual medley',
       '63 - 70kg (lightweight)', '68 - 80kg (middleweight)',
       '70 - 78kg (welterweight)', '78 - 87kg (middleweight)',
       '87 - 97kg (light-heavyweight)', 'Individual pursuit',
       'K-4 1000m (kayak four)', 'Open category', 'Volleyball',
       '- 48kg (light-flyweight)', '100m breaststroke',
       '200m individual medley', '48 - 51kg (flyweight)',
       '800m freestyle', 'Skeet (125 targets)',
       '+ 100kg (super heavyweight)',
       '+ 110kg, total (super heavyweight)', '+ 93kg (heavyweight)',
       '- 52kg, total (flyweight)', '- 63kg (lightweight)',
       '100m hurdles', '48 - 52kg (flyweight)',
       '50m running target (30+30 shots)',
       '52 - 56kg, total (bantamweight)', '57 - 62kg (featherweight)',
       '62 - 68kg (lightweight)', '63 - 70kg (half-middleweight)',
       '68 - 74kg (welterweight)', '70 - 80kg (middleweight)',
       '74 - 82kg (middleweight)', '80 - 93kg (half-heavyweight)',
       '82 - 90kg (light-heavyweight)', '90 - 100kg (heavyweight)',
       '91 - 110kg, total (heavyweight)', 'C-1 (canoe single)',
       'C-2 (canoe double)', 'K-1 (kayak single)',
       'Fleet/match race keelboat open (soling)', 'Individual fita round',
       'Tempest', '470 - two person dinghy', 'C-1 500m (canoe single)',
       'C-2 500m (canoe double)', 'Tornado - multihull',
       'Pair without coxswain (2-)',
       'Quadruple sculls with coxswain (4x)',
       'Quadruple sculls without coxswain (4x)', '+ 95kg (heavyweight)',
       '- 60 kg', '100 - 110kg, total (heavyweight)',
       '60 - 65kg (half-lightweight)', '65 - 71kg (lightweight)',
       '71 - 78kg (half-middleweight)', '78 - 86kg (middleweight)',
       '86 - 95kg (half-heavyweight)',
       '90 - 100kg, total (first-heavyweight)',
       '+ 91kg (super heavyweight)', '10m air rifle (40 shots)',
       '10m air rifle (60 shots)', '25m pistol (30+30 shots)', '3000m',
       '50m rifle 3 positions (3x20 shots)', '81 - 91kg (heavyweight)',
       'K-4 500m (kayak four)', 'Points race', 'Board (windglider)',
       'Duet', 'Heptathlon', 'Solo', '100 - 130kg (super heavyweight)',
       '10m air pistol (40 shots)', '10m air pistol (60 shots)',
       '50m freestyle', 'Board (division ii)', 'Sprint',
       '+ 72kg (heavyweight)', '- 48kg (extra-lightweight)',
       '48 - 52kg (half-lightweight)', '52 - 56kg (lightweight)',
       '56 - 61kg (half-middleweight)', '61 - 66kg (middleweight)',
       '66 - 72kg (half-heavyweight)', 'Baseball', 'Board (lechner)',
       'Coxless four (4-)', 'Individual (fita olympic round - 70m)',
       'Single-handed dinghy (europe)', 'Team (fita olympic round - 70m)',
       '+ 100kg (heavyweight)', '+ 108kg, total (super heavyweight)',
       '- 54kg, total (flyweight)', '54 - 59kg, total (bantamweight)',
       '59 - 64kg, total (featherweight)', '60 - 66kg (half-lightweight)',
       '64 - 70kg, total (lightweight)', '66 - 73kg (lightweight)',
       '70 - 76kg, total (middleweight)', '73 - 81kg (half-middleweight)',
       '76 - 83kg, total (light-heavyweight)', '81 - 90kg (middleweight)',
       '83 - 91kg, total (middle-heavyweight)',
       '90 - 100kg (half-heavyweight)',
       '91 - 99kg, total (first-heavyweight)',
       '99 - 108kg, total (heavyweight)', 'Beach volleyball',
       'Board (mistral)', 'Cross-country', 'Double trap (120 targets)',
       'Double trap (150 targets)', 'Group competition',
       'Lightweight coxless four (4-)', 'Lightweight double sculls (2x)',
       'Single-handed dinghy open (laser)', 'Softball', '+ 105kg',
       '+ 67 kg', '+ 75kg', '+ 78kg (heavyweight)', '+ 80 kg', '- 49 kg',
       '- 58 kg', '105kg', '10m running target (30+30 shots)',
       '20km race walk', '48 - 54kg', '48kg', '49 - 57 kg',
       '49er - skiff', '500m time trial', '52 - 57kg (lightweight)',
       '53kg', '54 - 58kg', '56kg', '57 - 63kg (half-middleweight)',
       '57 - 67 kg', '58 - 63kg', '58 - 68 kg', '58kg', '62kg',
       '63 - 69kg', '63 - 70kg (middleweight)', '63kg', '68 - 80 kg',
       '69 - 76kg', '69kg', '70 - 78kg (half-heavyweight)', '75kg',
       '76 - 85kg', '77kg', '85 - 97kg', '85kg', '94kg', '97 - 130kg',
       'Keirin', 'Madison', 'Olympic sprint', 'Skeet (75 targets)',
       'Synchronized diving 10m platform',
       'Synchronized diving 3m springboard', 'Trap (75 targets)',
       '- 48 kg', '- 48kg', '- 55kg', '48 - 55kg',
       '48kg (light flywieght)', '55 - 60kg', '55 - 63kg', '60 - 64 kg',
       '60 - 66kg', '63 - 72kg', '64 - 69 kg', '66 - 74kg', '69 - 75 kg',
       '74 - 84kg', '84 - 96kg', '96 - 120kg', 'Star - keelboat',
       'Team sprint', 'Yngling - keelboat'], dtype=object)

In [111]:
dir(oo.Event.str)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_data',
 '_doc_args',
 '_freeze',
 '_get_series_list',
 '_index',
 '_inferred_dtype',
 '_is_categorical',
 '_is_string',
 '_name',
 '_orig',
 '_parent',
 '_validate',
 '_wrap_result',
 'capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'removeprefix',
 'removesuffix',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

In [112]:
oo["Athlete Name"].str.contains("Latynina")

0        False
1        False
2        False
3        False
4        False
         ...
27169    False
27170    False
27171    False
27172    False
27173    False
Name: Athlete Name, Length: 27174, dtype: bool

In [113]:
# Larisa Latynina - most decorated Female athlete
oo[oo["Athlete Name"].str.contains("Latynina")]

Empty DataFrame
Columns: [Year, City, Sport, Discipline, Athlete Name, NOC, Gender, Event, Event Gender, Medal]
Index: []

In [114]:
oo[oo["Athlete Name"].str.contains("LATYNINA")]

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
9372,1956,Melbourne / Stockholm,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,Floor exercises,W,Gold
9539,1956,Melbourne / Stockholm,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,Individual all-round,W,Gold
9679,1956,Melbourne / Stockholm,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,Team competition,W,Gold
9702,1956,Melbourne / Stockholm,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,"Team, portable apparatus",W,Bronze
9735,1956,Melbourne / Stockholm,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,Uneven bars,W,Silver
...,...,...,...,...,...,...,...,...,...,...
11195,1964,Tokyo,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,Floor exercises,W,Gold
11387,1964,Tokyo,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,Individual all-round,W,Silver
11517,1964,Tokyo,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,Team competition,W,Gold
11551,1964,Tokyo,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,Uneven bars,W,Bronze
11558,1964,Tokyo,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,Vault,W,Silver

In [115]:
dir(oo.Event.str)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_data',
 '_doc_args',
 '_freeze',
 '_get_series_list',
 '_index',
 '_inferred_dtype',
 '_is_categorical',
 '_is_string',
 '_name',
 '_orig',
 '_parent',
 '_validate',
 '_wrap_result',
 'capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'removeprefix',
 'removesuffix',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

In [116]:
oo.City = oo.City.str.upper()
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
7012,1936,BERLIN,Polo,Polo,"MULLER LUJAN, Julio",MEX,Men,Polo,M,Bronze
4570,1924,PARIS,Fencing,Fencing,"CATTIAU, Philippe",FRA,Men,Foil team,M,Gold
23050,1996,ATLANTA,Volleyball,Volleyball,"BERNARDI, Lorenzo",ITA,Men,Volleyball,M,Silver

In [117]:
oo.City.unique()

array(['ATHENS', 'PARIS', 'ST LOUIS', 'LONDON', 'STOCKHOLM', 'ANTWERP',
       'AMSTERDAM', 'LOS ANGELES', 'BERLIN', 'HELSINKI',
       'MELBOURNE / STOCKHOLM', 'ROME', 'TOKYO', 'MEXICO', 'MUNICH',
       'MONTREAL', 'MOSCOW', 'SEOUL', 'BARCELONA', 'ATLANTA', 'SYDNEY'],
      dtype=object)

## Sorting a DataFrame or Series

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
oo["Athlete Name"].sort_values()

In [ ]:
type(oo["Athlete Name"].sort_values())

In [ ]:
oo.sort_values("Athlete Name")

In [ ]:
type(oo.sort_values("Athlete Name"))

In [ ]:
oo.head(3)

In [ ]:
oo.sort_values("Athlete Name", ascending=False)

In [ ]:
oo.sort_values("Athlete Name", ascending=False).head(25)

In [ ]:
oo.sort_values(by=['Year','Athlete Name'])

In [ ]:
oo.sort_values(by=["Year", "Athlete Name"], ascending=[False, True])

In [ ]:
oo.head(7)

In [ ]:
oo.sort_values(by=["Year", "Event", "Medal"], ascending=[True, True, False]).head(7)

In [ ]:
oo.dtypes

## Working with data types (dtype)

In [74]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

Installed all of the necessary files for this section ...

In [75]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
18284,1988,Seoul,Aquatics,Swimming,"OTTO, Kristin",GDR,Women,4x100m freestyle relay,W,Gold
8044,1952,Helsinki,Athletics,Athletics,"ANUFRIYEV, Aleksandr",URS,Men,10000m,M,Bronze
6546,1936,Berlin,Sailing,Sailing,"SALEN, Sven",SWE,Men,6m,X,Bronze

In [51]:
oo.dtypes

Year             int64
City            object
Sport           object
Discipline      object
Athlete Name    object
NOC             object
Gender          object
Event           object
Event Gender    object
Medal           object
dtype: object

In [52]:
oo.Medal.unique()

array(['Gold', 'Silver', 'Bronze'], dtype=object)

In [76]:
oo.Medal = oo.Medal.astype("category")
oo.dtypes

Year               int64
City              object
Sport             object
Discipline        object
Athlete Name      object
NOC               object
Gender            object
Event             object
Event Gender      object
Medal           category
dtype: object

In [77]:
oo.Gender.unique()

array(['Men', 'Women'], dtype=object)

In [ ]:
oo['Event Gender'].unique()

In [ ]:
oo.Gender = oo.Gender.astype("category")
oo['Event Gender'] = oo['Event Gender'].astype("category")
oo.dtypes

In [ ]:
oo.Medal.astype("category")

In [ ]:
pd.Categorical?

In [53]:
medal_order = ["Bronze", "Silver", "Gold"]
pd.Categorical(oo.Medal, categories=medal_order, ordered=True)

['Gold', 'Silver', 'Bronze', 'Bronze', 'Gold', ..., 'Gold', 'Gold', 'Silver', 'Silver', 'Silver']
Length: 27174
Categories (3, object): ['Bronze' < 'Silver' < 'Gold']

In [54]:
oo.Medal = pd.Categorical(oo.Medal, categories=medal_order, ordered=True)
oo.dtypes

Year               int64
City              object
Sport             object
Discipline        object
Athlete Name      object
NOC               object
Gender            object
Event             object
Event Gender      object
Medal           category
dtype: object

In [55]:
oo.Medal

0          Gold
1        Silver
2        Bronze
3        Bronze
4          Gold
          ...
27169      Gold
27170      Gold
27171    Silver
27172    Silver
27173    Silver
Name: Medal, Length: 27174, dtype: category
Categories (3, object): ['Bronze' < 'Silver' < 'Gold']

In [56]:
oo.sort_values(by=["Year", "Event", "Medal"], ascending=[True, True, False]).head(7)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
5,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold

## Memory usage of different dtypes

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [78]:
df = pd.read_csv(filename, skiprows=5)
df.dtypes

Year             int64
City            object
Sport           object
Discipline      object
Athlete Name    object
                 ...
Gender          object
Event           object
Event Gender    object
Medal           object
Position         int64
Length: 11, dtype: object

In [79]:
oo.dtypes

Year               int64
City              object
Sport             object
Discipline        object
Athlete Name      object
NOC               object
Gender            object
Event             object
Event Gender      object
Medal           category
dtype: object

In [ ]:
oo.Medal.memory_usage?

In [80]:
print(f"Medal series memory usage using dtype category: {oo.Medal.memory_usage(deep=True)}")
print(f"Medal series memory usage using dtype object: {df.Medal.memory_usage(deep=True)}")

Medal series memory usage using dtype category: 27601
Medal series memory usage using dtype object: 1693732

In [81]:
oo.Medal.memory_usage(deep=True) / df.Medal.memory_usage(deep=True)

0.01629596654016102

In [82]:
print(f"Gender series memory usage using dtype category: {oo.Gender.memory_usage(deep=True)}")
print(f"Gender series memory usage using dtype object: {df.Gender.memory_usage(deep=True)}")
print(f"Gender series memory usage using dtype category: {oo['Event Gender'].memory_usage(deep=True)}")
print(f"Gender series memory usage using dtype object: {df['Event Gender'].memory_usage(deep=True)}")

Gender series memory usage using dtype category: 1643698
Gender series memory usage using dtype object: 1643698
Gender series memory usage using dtype category: 1576224
Gender series memory usage using dtype object: 1576224

In [83]:
oo.City.astype("string")

0        Athens
1        Athens
2        Athens
3        Athens
4        Athens
          ...
27169    Athens
27170    Athens
27171    Athens
27172    Athens
27173    Athens
Name: City, Length: 27174, dtype: string

In [84]:
oo.sample(2)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
4252,1924,Paris,Athletics,Athletics,"TALJA, S.",FIN,Men,3000m team,M,Gold
17090,1984,Los Angeles,Canoe / Kayak,Canoe / Kayak F,"BENGTSSON, Per-Inge",SWE,Men,K-2 500m (kayak double),M,Silver

In [85]:
oo.dtypes

Year               int64
City              object
Sport             object
Discipline        object
Athlete Name      object
NOC               object
Gender            object
Event             object
Event Gender      object
Medal           category
dtype: object

In [86]:
oo.City = oo.City.astype("string")
oo.Sport = oo.Sport.astype("string")
oo.Discipline = oo.Discipline.astype("string")
oo["Athlete Name"] = oo["Athlete Name"].astype("string")
oo.NOC = oo.NOC.astype("string")
oo.Event = oo.Event.astype("string")
oo.dtypes

Year                     int64
City            string[python]
Sport           string[python]
Discipline      string[python]
Athlete Name    string[python]
NOC             string[python]
Gender                  object
Event           string[python]
Event Gender            object
Medal                 category
dtype: object

In [87]:
oo.City.dtype

string[python]

In [88]:
df.City.dtype

dtype('O')

In [89]:
print(f"City series memory usage using dtype string: {oo.City.memory_usage(deep=True)}")
print(f"City series memory usage using dtype object: {df.City.memory_usage(deep=True)}")

City series memory usage using dtype string: 1748408
City series memory usage using dtype object: 1748408

## Defining dtypes when you read in a file

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [57]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
23950,2000,Sydney,Baseball,Baseball,"WILKERSON, Brad",USA,Men,baseball,M,Gold
1376,1908,London,Athletics,Athletics,"LUNGHI, Emilio",ITA,Men,800m,M,Silver
7590,1948,London,Rowing,Rowing,"BUSHNELL, Bertram Herbert Th.",GBR,Men,double sculls (2x),M,Gold

In [58]:
oo.dtypes

Year             int64
City            object
Sport           object
Discipline      object
Athlete Name    object
NOC             object
Gender          object
Event           object
Event Gender    object
Medal           object
dtype: object

In [59]:
dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": "category"}

dtype_mapper

{'Year': 'int64',
 'City': 'string',
 'Sport': 'string',
 'Discipline': 'string',
 'Athlete Name': 'string',
 'NOC': 'string',
 'Gender': 'category',
 'Event': 'string',
 'Event_gender': 'category',
 'Medal': 'category'}

In [60]:
pd.api.types.CategoricalDtype?

In [61]:
ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
ordered_medals

CategoricalDtype(categories=['Bronze', 'Silver', 'Gold'], ordered=True)

In [62]:
dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}

dtype_mapper

{'Year': 'int64',
 'City': 'string',
 'Sport': 'string',
 'Discipline': 'string',
 'Athlete Name': 'string',
 'NOC': 'string',
 'Gender': 'category',
 'Event': 'string',
 'Event_gender': 'category',
 'Medal': CategoricalDtype(categories=['Bronze', 'Silver', 'Gold'], ordered=True)}

In [63]:
oo = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
7983,1948,London,Aquatics,Water polo,"OGNIO, Geminio",ITA,Men,water polo,M,Gold,1
23175,2000,Sydney,Judo,Judo,"YAMASHITA, Mayumi",JPN,Women,+ 78kg (heavyweight),W,Bronze,3
23226,2000,Sydney,Aquatics,Swimming,"JONES, Leisel",AUS,Women,100m breaststroke,W,Silver,2

In [64]:
oo.dtypes

Year                     int64
City            string[python]
Sport           string[python]
Discipline      string[python]
Athlete Name    string[python]
                     ...
Gender                category
Event           string[python]
Event Gender            object
Medal                 category
Position                 int64
Length: 11, dtype: object

In [66]:
oo["Event Gender"].unique()

array(['M', 'X', 'W'], dtype=object)

In [67]:
oo = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
oo['Event Gender'] = oo['Event Gender'].astype("category")
oo.dtypes

Year                     int64
City            string[python]
Sport           string[python]
Discipline      string[python]
Athlete Name    string[python]
                     ...
Gender                category
Event           string[python]
Event Gender          category
Medal                 category
Position                 int64
Length: 11, dtype: object

## Python Functions

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [68]:
def show_df(filename="olympics_1896_2004.csv"):
  """Read in csv file and display DataFrame"""
  df = pd.read_csv(filename, skiprows=5)
  return df

show_df()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
...,...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

In [69]:
type(show_df())

pandas.core.frame.DataFrame

In [70]:
ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}

dtype_mapper

{'Year': 'int64',
 'City': 'string',
 'Sport': 'string',
 'Discipline': 'string',
 'Athlete Name': 'string',
 'NOC': 'string',
 'Gender': 'category',
 'Event': 'string',
 'Event_gender': 'category',
 'Medal': CategoricalDtype(categories=['Bronze', 'Silver', 'Gold'], ordered=True)}

In [71]:
oo = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
      .drop('Position', axis=1)
)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
10892,1964,Tokyo,Aquatics,Swimming,"KLEIN, Hans-Joachim",EUA,Men,4x200m freestyle relay,M,Silver
23154,1996,Atlanta,Fencing,Fencing,"MAZINA, Mariya",RUS,Women,épée team,W,Bronze
3942,1920,Antwerp,Gymnastics,Artistic G.,"BENGTSSON, Bengt Folke",SWE,Men,"team, Swedish system",M,Gold

In [124]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )

  return df

preprocess()

Preprocessing olympics_1896_2004.csv ...

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver

In [73]:
preprocess()

Preprocessing olympics_1896_2004.csv ...

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver

In [118]:
oo = preprocess()
oo.sample(3)

Preprocessing olympics_1896_2004.csv ...

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
20564,1992,Barcelona,Sailing,Sailing,"KERN, Douglas",USA,Men,fleet/match race keelboat open (Soling),X,Silver
13601,1972,Munich,Athletics,Athletics,"SCHMIDT, Kathryn Joan",USA,Women,javelin throw,W,Bronze
12083,1968,Mexico,Canoe / Kayak,Canoe / Kayak F,"SEIBOLD, Gerhard",AUT,Men,K-2 1000m (kayak double),M,Bronze

In [119]:
oo.dtypes

Year                     int64
City            string[python]
Sport           string[python]
Discipline      string[python]
Athlete Name    string[python]
NOC             string[python]
Gender                category
Event           string[python]
Event Gender            object
Medal                 category
dtype: object

In [120]:
oo["Event Gender"].unique()

array(['M', 'X', 'W'], dtype=object)

In [121]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

oo = preprocess()
oo.sample(3)

Preprocessing olympics_1896_2004.csv ...

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
5906,1932,Los Angeles,Wrestling,Wrestling Gre-R,"SPERLING, Eduard",GER,Men,61 - 66kg (lightweight),M,Bronze
7770,1948,London,Hockey,Hockey,"BRODIE, David L.S.",GBR,Men,hockey,M,Silver
4031,1920,Antwerp,Gymnastics,Artistic G.,"SAELEN, Frithjof",NOR,Men,"team, free system",M,Silver

In [122]:
oo.dtypes

Year                     int64
City            string[python]
Sport           string[python]
Discipline      string[python]
Athlete Name    string[python]
NOC             string[python]
Gender                category
Event           string[python]
Event Gender          category
Medal                 category
dtype: object

## Working with Indexes

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

oo = preprocess()
oo.head(5)

In [ ]:
oo.index

In [ ]:
oo.columns

In [ ]:
oo.shape

In [ ]:
pd.read_csv(filename, skiprows=5, header=None).head()

In [ ]:
oo = preprocess()
oo.head(5)

In [ ]:
oo[oo['Athlete Name'].str.contains("LEWIS, Carl")]

In [ ]:
oo.loc[22719, "Event"]

In [ ]:
oo = oo.set_index("Athlete Name")
oo.head(5)

In [ ]:
oo.index

In [ ]:
oo.loc["LEWIS, Carl", "Event"]

In [ ]:
oo.head(3)

In [ ]:
oo.columns

In [ ]:
oo.shape

In [ ]:
oo.head(3)

In [ ]:
oo.loc["LEWIS, Carl", ["Year", "Event", "Medal"]]

In [ ]:
oo.loc["LEWIS, Carl", :]

In [ ]:
oo.loc["LEWIS, Carl"]

In [ ]:
oo = oo.sort_index()
oo.head(3)

In [ ]:
oo = oo.reset_index()
oo.head(3)

In [ ]:
oo.iloc[0, 0]

In [ ]:
oo.iloc[0, 5]

In [ ]:
oo.iloc[0, :]

In [ ]:
oo.iloc[0]

## Being Productive in pandas - My Best Practices

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

oo = preprocess()
oo.sample(3)

**Get immediate feedback**

In [ ]:
oo = preprocess()

In [ ]:
oo.sample(3)

In [ ]:
oo = preprocess()
oo.sample(3)

**Understand the basics of Python**

In [ ]:
dir(pd)

In [ ]:
[func.upper() for func in dir(pd)]

**Searching for method names**

In [ ]:
import re
import pandas as pd

search_string = "excel"

[func for func in dir(pd) if re.search(rf"{search_string}", func, re.IGNORECASE)]

In [ ]:
pd.read_excel?

In [ ]:
[func
 for func in dir(pd)
 if re.search(rf"{search_string}", func, re.IGNORECASE)]

**Documentation while staying in the IDE**

In [ ]:
pd.read_excel?

**head() vs. sample()**

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

**Functions to preprocess data. Modify the data, not the original files**

In [ ]:
def preprocess(filename):
  """Transform the data. Change the dataframe and not the original csv files"""
  ...

preprocess(filename)

**Using python assert**

In [ ]:
oo[(oo.Year < 1896) & (oo.Year > 2004)].shape

In [ ]:
oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == 0

In [ ]:
assert(oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == 0)

In [ ]:
assert(oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == 0)
print("All tests passed")

In [ ]:
#assert(oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == (0, 10))
#print("All tests passed")

**Chaining and splitting over several rows. No inplace=True**

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo = oo.drop('Position', axis=1)
oo.head(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.head(3)

In [ ]:
last3 = pd.read_csv(filename, skiprows=5).sort_values(['Year', 'Athlete Name']).tail(3)
last3

In [ ]:
last3 = (pd.read_csv(filename, skiprows=5)
        .sort_values(['Year', 'Athlete Name'])
        .tail(3)
)
last3

In [ ]:
last3 = (pd.read_csv(filename, skiprows=5)
#        .sort_values(['Year', 'Athlete Name'])
        .tail(3)
)
last3

**isin()**

In [ ]:
oo.Year.isin?

In [ ]:
years_of_interest = [1972, 1980, 1984, 1992, 2000, 2004]

In [ ]:
oo[oo.Year.isin(years_of_interest)]

In [ ]:
oo[~oo.Year.isin(years_of_interest)]

**Finding and dealing with missing values**

In [ ]:
oo.info()

## Creating Series and DataFrames

In [ ]:
import pandas as pd

In [ ]:
city = ["London", "Rio", "Tokyo"]
start_date = ["27th Jul, 2012", "5th Aug, 2016", "23rd July, 2021"]

In [ ]:
pd.Series(city)

In [ ]:
pd.DataFrame({"City": pd.Series(city),
              "Start Date": pd.Series(start_date)})

In [ ]:
pd.DataFrame({"City": city,
              "Start Date": start_date})

In [ ]:
pd.DataFrame(zip(city, start_date))

In [ ]:
pd.DataFrame(zip(city, start_date), columns=["City", "Start Date"])

## Working with dates

In [ ]:
import pandas as pd

In [ ]:
city = ["London", "Rio", "Tokyo"]
start_date = ["07-27-2012", "5th Aug, 2016", "23rd Jul, 2021"]
end_date = ["12th Aug, 2012", "21-08-2016", "8th Aug, 2021"]

In [ ]:
games = pd.DataFrame(zip(city, start_date, end_date), columns=["City", "Start Date", "End Date"])
games

In [ ]:
games.dtypes

In [ ]:
import re
import pandas as pd

search_string = "date"

[func for func in dir(pd) if re.search(rf"{search_string}", func, re.IGNORECASE)]

In [ ]:
pd.to_datetime?

In [ ]:
#pd.to_datetime(games["Start Date"])

In [ ]:
pd.to_datetime(games["Start Date"], format='mixed')

In [ ]:
games["Start Date"] = pd.to_datetime(games["Start Date"], format='mixed')
games["End Date"] = pd.to_datetime(games["End Date"], format='mixed')
games["City"] = games.City.astype("string")
games

In [ ]:
games.dtypes

In [ ]:
games["End Date"]

In [ ]:
games["Start Date"]

In [ ]:
games["End Date"] - games["Start Date"]

In [ ]:
games = games.assign(duration=games["End Date"] - games["Start Date"])
games

In [ ]:
games.dtypes

## Combining DataFrames

In [ ]:
import pandas as pd

In [ ]:
start = pd.DataFrame({"city": ["London", "Rio", "Tokyo"],
                      "start_date": ["27th Jul, 2012", "5th Aug, 2016", "23rd July, 2021"]})
start

In [ ]:
end = pd.DataFrame({"City": ["London", "Tokyo", "Paris"],
                    "end_date": ["12th Aug, 2012", "8th Aug, 2021", "11th Aug, 2024"]})
end

In [ ]:
pd.concat?

In [ ]:
pd.concat([start, end], axis=0)

In [ ]:
end = pd.DataFrame({"city": ["London", "Tokyo", "Paris"],
                    "end_date": ["12th Aug, 2012", "8th Aug, 2021", "11th Aug, 2024"]})
end

In [ ]:
pd.concat([start, end], axis=0)

In [ ]:
pd.concat([start, end], axis=1)

**Inner join**

In [ ]:
start

In [ ]:
end

In [ ]:
pd.merge?

In [ ]:
pd.merge(left=start, right=end, on="city", how="inner")

**Outer join**

In [ ]:
start

In [ ]:
end

In [ ]:
pd.merge(left=start, right=end, on="city", how="outer")

**Left join**

In [ ]:
start

In [ ]:
pd.merge(left=start, right=end, on="city", how="left")

**Right join**

In [ ]:
end

In [ ]:
pd.merge(left=start, right=end, on="city", how="right")

## Combining Datasets

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [123]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

preprocess()

Preprocessing olympics_1896_2004.csv ...

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver

In [ ]:
oo = preprocess()
oo.sample(3)

In [ ]:
!wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

In [ ]:
new_filename =  "olympics_2008.csv"
nw = pd.read_csv(new_filename)
nw.head(5)

In [ ]:
oo.sample(3)

In [ ]:
pd.concat([oo, nw], axis=0)

In [ ]:
nw.columns

In [ ]:
oo.columns

In [ ]:
nw.columns = ['City', 'Edition', 'Sport', 'Discipline', 'Athlete', 'Country_code',
       'Gender', 'Event', 'Event_gender', 'Medal', 'Result']
nw.columns

In [ ]:
new_columns = ['City', 'Edition', 'Sport', 'Discipline', 'Athlete', 'Country_code',
       'Gender', 'Event', 'Event_gender', 'Medal', 'Result']

In [ ]:
nw = pd.read_csv(new_filename, names=new_columns)
nw.columns

In [ ]:
nw.columns = [column.capitalize() for column in nw.columns]
nw.columns

In [ ]:
pd.concat([oo, nw], axis=0)

In [ ]:
oo.columns

In [ ]:
nw.columns

In [ ]:
nw.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']

In [ ]:
pd.concat([oo, nw], axis=0)

In [ ]:
nw.Result.unique()

In [ ]:
nw = nw.drop("Result", axis=1)
nw.sample(3)

In [ ]:
pd.concat([oo, nw], axis=0)

In [ ]:
pd.concat([oo, nw], axis=0).dtypes

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  return df

nw = preprocess_2008()
nw.sample(3)

## Working with Missing Data

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [130]:
nw = preprocess_2008()
nw.sample(3)

,City,Year,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
299,Beijing,2008.0,aquatics,Water polo,"KISS, Gergely",HUN,Men,water polo,M,gold
1428,Beijing,2008.0,judo,Judo,"SOBIROV, Rishod",UZB,Men,- 60 kg,M,bronze
1345,Beijing,2008.0,hockey,Hockey,"KELLER, Florian",GER,Men,hockey,M,gold

In [131]:
nw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          2059 non-null   object
 1   Year          2059 non-null   float64
 2   Sport         2048 non-null   object
 3   Discipline    2048 non-null   object
 4   Athlete Name  2048 non-null   object
 5   NOC           2048 non-null   object
 6   Gender        2048 non-null   object
 7   Event         2048 non-null   object
 8   Event Gender  2048 non-null   object
 9   Medal         2048 non-null   object
dtypes: float64(1), object(9)
memory usage: 161.0+ KB

In [132]:
import re

search_string = "na"

[func for func in dir(nw.City) if re.search(rf"{search_string}$", func, re.IGNORECASE)]

['_can_hold_na', 'dropna', 'fillna', 'isna', 'notna']

In [ ]:
nw.City.isna?

In [133]:
nw.City.isna()

0       False
1       False
2       False
3       False
4       False
        ...
2054    False
2055    False
2056    False
2057    False
2058    False
Name: City, Length: 2059, dtype: bool

In [ ]:
nw.City.isna().sum()

In [ ]:
nw[nw.City.isna()]

In [ ]:
nw.City.unique()

In [ ]:
nw.shape

In [ ]:
import re

search_string = "na"

[func for func in dir(nw.City) if re.search(rf"{search_string}$", func, re.IGNORECASE)]

In [ ]:
nw.City.fillna?

In [ ]:
nw.City = nw.City.fillna(value="Beijing")
nw.City.unique()

In [ ]:
nw.Year

In [ ]:
nw.Year.unique()

In [ ]:
nw.Year = nw.Year.fillna(value=2008)
nw.info()

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.dtypes

## Removing Missing Data

In [126]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

--2025-06-14 19:55:28--  https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/jonfernandes/pandas_essential/main/olympics_2008.csv [following]
--2025-06-14 19:55:28--  https://raw.githubusercontent.com/jonfernandes/pandas_essential/main/olympics_2008.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 174220 (170K) [text/plain]
Saving to: ‘olympics_2008.csv’

olympics_2008.csv   100%[===================>] 170.14K  --.-KB/s    in 0.03s

2025-06-14 19:55:28 (5.01 MB/s) - ‘olympics_2008.csv’ saved [174220/174220]

Installed all of the necessary files for this section ...

In [127]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  return df

nw = preprocess_2008()
nw.sample(3)

,City,Year,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
1308,Beijing,2008.0,handball,Handball,"NYBERG, Katja",NOR,Women,handball,W,gold
238,Beijing,2008.0,aquatics,Swimming,"FRIIS, Lotte",DEN,Women,800m freestyle,W,bronze
750,Beijing,2008.0,boxing,Boxing,"SOW, Daouda",FRA,Men,57 - 60kg (lightweight),M,silver

In [128]:
nw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          2059 non-null   object
 1   Year          2059 non-null   float64
 2   Sport         2048 non-null   object
 3   Discipline    2048 non-null   object
 4   Athlete Name  2048 non-null   object
 5   NOC           2048 non-null   object
 6   Gender        2048 non-null   object
 7   Event         2048 non-null   object
 8   Event Gender  2048 non-null   object
 9   Medal         2048 non-null   object
dtypes: float64(1), object(9)
memory usage: 161.0+ KB

In [129]:
nw[nw.Sport.isna()]

,City,Year,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
62,Beijing,2008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Beijing,2008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Beijing,2008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Beijing,2008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Beijing,2008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
68,Beijing,2008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Beijing,2008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Beijing,2008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,Beijing,2008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,Beijing,2008.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
nw.dropna(how="all", axis=0)

In [ ]:
nw.dropna(how="any", axis=0)

In [ ]:
nw[nw.Sport.isna()]

In [ ]:
nw.dropna?

In [ ]:
nw.columns

In [ ]:
nw.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")

In [ ]:
nw = nw.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
nw.info()

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  return df

nw = preprocess_2008()
nw.sample(3)

##Working with Duplicates

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.shape

In [ ]:
nw.duplicated?

In [ ]:
nw.duplicated()

In [ ]:
nw.duplicated().sum()

In [ ]:
nw.loc[nw.duplicated(), :]

In [ ]:
nw.shape

In [ ]:
nw = nw.drop_duplicates()
nw.shape

In [ ]:
nw.columns

In [ ]:
athlete_multiple_events = nw.duplicated(subset=['Athlete Name', 'NOC', 'Gender'])
athlete_multiple_events

In [ ]:
nw.duplicated?

In [ ]:
nw.loc[athlete_multiple_events, :]

In [ ]:
nw.loc[athlete_multiple_events, :].sort_values("Athlete Name")

In [ ]:
nw.loc[nw["Athlete Name"] == "ZOU, Kai"]

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  return df

nw = preprocess_2008()
nw.sample(3)

## Validating data

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

oo = preprocess()

def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw["Event Gender"].unique()

In [ ]:
nw.Gender.unique()

In [ ]:
nw.loc[(nw["Event Gender"] == "M") & (nw.Gender != "Men")]

In [ ]:
nw.loc[(nw["Event Gender"] == "F") & (nw.Gender != "Women")]

In [ ]:
nw.loc[(nw.Gender == "Women") & ((nw["Event Gender"] != "W") & (nw["Event Gender"] != "X"))]

In [ ]:
nw.loc[(nw.Gender == "Men") & ((nw["Event Gender"] != "M") & (nw["Event Gender"] != "X"))]

In [ ]:
oo["Event Gender"].unique()

In [ ]:
oo.Gender.unique()

In [ ]:
oo.loc[(oo["Event Gender"] == "M") & (oo.Gender != "Men")]

In [ ]:
oo.loc[(oo["Event Gender"] == "F") & (oo.Gender != "Women")]

In [ ]:
oo.loc[(oo.Gender == "Women") & ((oo["Event Gender"] != "W") & (oo["Event Gender"] != "X"))]

In [ ]:
oo.loc[(oo.Gender == "Men") & ((oo["Event Gender"] != "M") & (oo["Event Gender"] != "X"))]

In [ ]:
oo.loc[(oo.Year == 2000) & (oo.Event == "marathon")]

In [ ]:
oo.loc[24676, "Gender"] = "Women"
oo.loc[(oo.Year == 2000) & (oo.Event == "marathon")]

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  return df

oo = preprocess()
oo.sample(3)

In [ ]:
oo.dtypes

In [ ]:
nw.Year.unique()

In [ ]:
nw.City.unique()

In [ ]:
nw["Event Gender"].unique()

In [ ]:
nw["Event Gender"].unique().tolist()

In [ ]:
oo["Event Gender"].unique().tolist()

In [ ]:
nw["Event Gender"].unique().tolist() == oo["Event Gender"].unique().tolist()

In [ ]:
sorted(nw["Event Gender"].unique().tolist())

In [ ]:
sorted(oo["Event Gender"].unique().tolist())

In [ ]:
assert(sorted(nw["Event Gender"].unique().tolist()) == sorted(oo["Event Gender"].unique().tolist()))
print("Passes all tests ...")

In [ ]:
#assert(sorted(nw["Event Gender"].unique().tolist()) == sorted(oo["Event Gender"].unique().tolist()))
#assert(sorted(nw.Gender.unique().tolist()) == sorted(oo.Gender.unique().tolist()))
#assert(sorted(nw.Medal.unique().tolist()) == sorted(oo.Medal.unique().tolist()))
#print("Passes all tests ...")

In [ ]:
sorted(oo.Medal.unique().tolist())

In [ ]:
sorted(nw.Medal.unique().tolist())

In [ ]:
nw.Medal.str.capitalize()

In [ ]:
nw.Medal = nw.Medal.str.capitalize()
nw.sample(3)

In [ ]:
assert(sorted(nw["Event Gender"].unique().tolist()) == sorted(oo["Event Gender"].unique().tolist()))
assert(sorted(nw.Gender.unique().tolist()) == sorted(oo.Gender.unique().tolist()))
assert(sorted(nw.Medal.unique().tolist()) == sorted(oo.Medal.unique().tolist()))
print("Passes all tests ...")

In [ ]:
sorted(nw.Sport.unique().tolist())

In [ ]:
sorted(oo.Sport.unique().tolist())

In [ ]:
nw.NOC.unique()

In [ ]:
nw.Sport = nw.Sport.str.lower()
nw.Discipline = nw.Discipline.str.lower()
nw.Event = nw.Event.str.lower()
nw.NOC = nw.NOC.str.upper()
nw.sample(3)

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  return df

nw = preprocess_2008()
nw.sample(3)

## Further Data Validation

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

oo = preprocess()

def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
medals = ['Gold', 'Silver', 'Bronze', 'Bronze', 'Gold']
medals

In [ ]:
medals[0]

In [ ]:
medals[1]

In [ ]:
len(medals)

In [ ]:
nw["Athlete Name"]

In [ ]:
import re

search_string = "split"

[func for func in dir(nw["Athlete Name"].str) if re.search(rf"{search_string}", func, re.IGNORECASE)]

In [ ]:
nw["Athlete Name"].str.split?

In [ ]:
nw["Athlete Name"].str.split(", ")

In [ ]:
nw["Athlete Name"].str.split(", ").tolist()

In [ ]:
athlete_names = nw["Athlete Name"].str.split(", ").tolist()
athlete_names

In [ ]:
import re

search_string = "upper"

[func for func in dir(nw["Athlete Name"].str) if re.search(rf"{search_string}", func, re.IGNORECASE)]

In [ ]:
[athlete_name for athlete_name in athlete_names]

In [ ]:
[athlete_name[0] for athlete_name in athlete_names]

In [ ]:
[athlete_name[0].isupper() for athlete_name in athlete_names]

In [ ]:
len([item[0].isupper() for item in athlete_names])

In [ ]:
nw.info()

##Updating the dtypes

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  return df

oo = preprocess()
nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.dtypes

In [ ]:
oo.dtypes

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.dtypes

## Combine the datasets

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

In [ ]:
oo = preprocess()
oo.sample(3)

In [ ]:
oo.dtypes

In [ ]:
nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.dtypes

In [ ]:
pd.concat([oo, nw])

In [ ]:
pd.concat([oo, nw]).dtypes

In [ ]:
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
up.dtypes

##Plotting data

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt


if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df


def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
import matplotlib.pyplot as plt

**For the first Olympics, how many events were there for each of the different sports? Plot them using different graphs.**

In [ ]:
first_games = up[up.Year == 1896]
first_games

In [ ]:
first_games.Sport.value_counts()

In [ ]:
first_games.Sport.value_counts().plot?

In [ ]:
type(first_games.Sport.value_counts())

In [ ]:
dir(pd.Series)

In [ ]:
pd.Series.plot?

In [ ]:
first_games.Sport.value_counts().plot(kind='line')

In [ ]:
first_games.Sport.value_counts().plot(figsize=(10,3))

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot(figsize=(10,3))
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 #.plot(figsize=(10,3))
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot(kind='bar')
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot
 .bar()
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot(kind='barh')
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot(kind='barh', color='red')
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot(kind='barh', color=['blue', 'red'])
)

##Working with colormaps and Seaborn

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
games_2008 = up[up.Year == 2008]
games_2008.sample(3)

In [ ]:
(games_2008
 .Medal
 .value_counts())

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              )

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"])

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"],
              hue='Gender')

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"],
              hue='Gender',
              palette='seismic')

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"],
              hue='Gender',
              palette='coolwarm')

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"],
              hue='Gender',
              palette='bwr')

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"],
              hue='Gender',
              palette='bwr_r')

##Working with groupby

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt


if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
sprints = up[(up.Year == 2008) & ((up.Event == '100m') | (up.Event == '200m'))]
sprints

In [ ]:
sp = sprints.groupby(['NOC', 'Gender', 'Event'])
sp

In [ ]:
up.groupby("Year")

In [ ]:
type(up.groupby('Year'))

In [ ]:
up.groupby("Year").count()

In [ ]:
for group_key, group_value in up.groupby('Year'):
    print(group_key)
    print(group_value)

In [ ]:
type(group_value)

In [ ]:
up.groupby(['Year']).count()

In [ ]:
up.groupby("Year").size()

In [ ]:
up.groupby(['Year','NOC']).count()

In [ ]:
up.groupby(['Year','NOC'])['Medal'].count()

In [ ]:
up.groupby(['Year','NOC']).size()

In [ ]:
up.groupby(['Year','NOC','Medal']).size()

In [ ]:
up.groupby(['NOC'])['Year'].min()

In [ ]:
up.groupby(['NOC'])['Year'].max()

In [ ]:
up.groupby(['NOC'])['Year'].min()

In [ ]:
up.groupby(['NOC'])['Year'].agg(['min', 'max', 'count'])

##Reshaping data: Stacking, Unstacking and MultiIndex

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt


if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
sprints = up[(up.Year == 2008) & ( (up.Event == '100m') | (up.Event == '200m'))]
sprints

In [ ]:
sp = sprints.groupby(['NOC','Gender','Event']).size()
sp

In [ ]:
sp.unstack?

In [ ]:
sp.unstack('Gender', fill_value=0)

In [ ]:
(sp
 .unstack('Gender', fill_value=0)
 .unstack('Event', fill_value=0)
)

In [ ]:
sp.unstack?

In [ ]:
sp.unstack(['Gender', 'Event'], fill_value=0)

In [ ]:
sp = sprints.groupby(['NOC','Gender','Event']).size()
sp

In [ ]:
sp.unstack(level=1, fill_value=0)

In [ ]:
sprints_table = sp.unstack(level=1, fill_value=0).unstack(level=1, fill_value=0)
sprints_table

In [ ]:
sprints_NOC = sprints_table.stack("Gender")
sprints_NOC

In [ ]:
sprints_NOC.index

In [ ]:
sprints_NOC.loc[('JAM',   'Men'), :]

In [ ]:
sprints_NOC.loc[('JAM',   'Men'), '100m']

In [ ]:
sprints_NOC.iloc[0, :]

In [ ]:
sprints_NOC.iloc[0, 0]

In [ ]:
sprints_NOC.stack?

In [ ]:
sprints_NOC.unstack?

## Challenge

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

**Using a line graph, plot the number of gold medals won by the USA male and female Olympians throughout the history of the Olympics?
Distinguish between the male and female Olympians in the line graph using blue and pink**

**Using a bar chart, plot the 5 Olympians who have won the most gold medals from the dataset (1896 to 2008). When there is a tie, consider the number of silver medals, then bronze medals.**

##Solution

**Using a line graph, plot the number of gold medals won by the USA male and female Olympians throughout the history of the Olympics?
Distinguish between the male and female Olympians in the line graph using blue (male) and pink (female)**

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
usa_gold = up[(up.NOC == 'USA') & (up.Medal == 'Gold')]
usa_gold

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size()

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().index

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().plot(kind='line')

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size()

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().unstack('Gender')

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().unstack('Gender').plot(kind='line')

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().unstack('Gender').plot?

In [ ]:
pd.Series.plot?

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().unstack('Gender').plot(kind='line', color=['blue', 'pink'])

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().unstack('Gender').plot(kind='line', color=['pink', 'blue'])

**Using a bar chart, plot the 5 Olympians who have won the most gold medals from the dataset (1896 to 2008). When there is a tie, consider the number of silver medals, then bronze medals.**

In [ ]:
up.groupby(['Athlete Name','Medal']).size()

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
)

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)
)

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)[['Gold', 'Silver', 'Bronze']]
)

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)[['Gold', 'Silver', 'Bronze']]
.head(5)
)

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)[['Gold', 'Silver', 'Bronze']]
.head(5)
.plot(kind='bar')
)

##Creating your own colormaps

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)[['Gold', 'Silver', 'Bronze']]
.head(5)
.plot(kind='bar')
)

In [ ]:
from matplotlib.colors import ListedColormap

In [ ]:
ListedColormap?

In [ ]:
gold_silver_bronze = ['#dbb40c','#c5c9c7','#a87900']

In [ ]:
colormap = ListedColormap(gold_silver_bronze)
colormap

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)[['Gold', 'Silver', 'Bronze']]
.head(5)
.plot(kind='bar', colormap=colormap)
)

##Final Challenge

For each Olympic year present in the dataset, show the US Olympian (and their sport) who has won the highest number of medals in that particular year.

- In the case of a tie, Gold > Silver > Bronze
- Include only one Olympian for each Olympic year i.e. If there are 2 Olympians in one year who have won exactly the same number and type of medals, then show only the first one based on sorting the names alphabetically by surname.

- You should show the the following columns for each Olympic year:
  - Athlete Name
  - Sport
  - Total

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
pd.set_option("display.width", 100)

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

##Solution

For each Olympic year present in the dataset, show the US Olympian (and their sport) who has won the highest number of medals in that particular year.

- In the case of a tie, Gold > Silver > Bronze
- Include only one Olympian for each Olympic year i.e. If there are 2 Olympians in one year who have won exactly the same number and type of medals, then show only the first one based on sorting the names alphabetically by surname.

- You should show the the following columns for each Olympic year:
  - Athlete Name
  - Sport
  - Total

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
pd.set_option("display.width", 100)

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
usa_olympian = up[up.NOC == 'USA']
usa_olympian

In [ ]:
usa_olympian.groupby(['Year', 'Athlete Name', 'Medal', 'Sport']).size()

In [ ]:
(usa_olympian.groupby(['Year', 'Athlete Name', 'Medal', 'Sport'])
.size()
.unstack('Medal', fill_value=0)
)

In [ ]:
table = (usa_olympian.groupby(['Year', 'Athlete Name', 'Sport', 'Medal'])
.size()
.unstack('Medal', fill_value=0)
)
table

In [ ]:
table = (usa_olympian.groupby(['Year', 'Athlete Name', 'Sport', 'Medal'])
.size()
.unstack('Medal', fill_value=0)
.assign(Total=table['Gold']+table['Silver']+table['Bronze'])
)
table

In [ ]:
table = (usa_olympian.groupby(['Year', 'Athlete Name', 'Sport', 'Medal'])
.size()
.unstack('Medal', fill_value=0)
.assign(Total=table['Gold']+table['Silver']+table['Bronze'])
.reset_index()
)
table

In [ ]:
for year, group in table.groupby('Year'):
  print(group)

In [ ]:
for year, group in table.groupby('Year'):
  print(group.sort_values('Total', ascending=False))

In [ ]:
for year, group in table.groupby('Year'):
  print(group.sort_values(['Total', 'Gold', 'Silver', 'Bronze', 'Athlete Name'], ascending=False))

In [ ]:
for year, group in table.groupby('Year'):
  print(group.sort_values(['Total', 'Gold', 'Silver', 'Bronze', 'Athlete Name'], ascending=False).head(1))

In [ ]:
winners = [
    group.sort_values(['Total', 'Gold', 'Silver', 'Bronze', 'Athlete Name'], ascending=False).head(1)
    for year, group in table.groupby('Year')
]
winners

In [ ]:
winners[0]

In [ ]:
type(winners[0])

In [ ]:
pd.concat(winners)

In [ ]:
pd.concat(winners)[["Year",	"Athlete Name",	"Sport", "Total"]]

In [ ]:
pd.concat(winners)[["Year",	"Athlete Name",	"Sport", "Total"]].reset_index()

In [ ]:
pd.concat(winners)[["Year",	"Athlete Name",	"Sport", "Total"]].reset_index?

In [ ]:
pd.DataFrame.reset_index?

In [ ]:
pd.concat(winners)[["Year",	"Athlete Name",	"Sport", "Total"]].reset_index(drop=True)

In [ ]:
#SDG